/* fondo por id */
#fondo{
    background-color:#F3F5FC;/* color hexacesimal 0 al F */
    ;
}
.rectangulo{
    background-color:#FFFFFF;
    width:400px;
    height:944px;
    /*  */
    float: right;
}